{% extends "base.html" %}
{% load i18n %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="container mb-5 mt-5">
        <h1>   {% translate "Products" %}</h1>
            <div class="row mb-3">
                {% for product in products %}
                    {% if forloop.counter0|divisibleby:3 %}
                        </div>
                        <div class="row mb-4">
                    {% endif %}
                    <div class="col-4">
                        {% include "product.html" %}
                    </div>
                {% endfor %}
                </div>
    {% include "pagination.html" %}
    </div>

{% endblock %}